*{
        margin: 0;
        padding: 0;
}
body {
    padding: 50px;
}

table{
    /*border: 1px solid grey;*/
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
tr,td,th{
    border: 1px solid grey;
}
th {
    padding: 20px;
    background-color: beige;
    font-size: 16px;
    font-family: 'Patua One', cursive;
}
td{
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
tr:nth-child(odd){
    background-color: floralwhite;
}
td:hover {
    background-color: darkgoldenrod;
}